 
@{
}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="İŞLE KOLAY Bilgi Yönetim Sistemi" name="description" />
<link rel="shortcut icon" href="/assets/images/favicon.png">
<meta name="robots" content="noindex" />
<link href="/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
<link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
<link href="/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
<link href="/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
<link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
<link href="/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
<script src="/assets/libs/sweetalert2/sweetalert2.min.js"></script>
<script src="/assets/js/pages/sweet-alerts.init.js"></script>
<link href="/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />



<div class="account-pages my-5 pt-sm-5">
    <div class="container">
        <div class="row justify-content-center">

            <h2>
                BU İŞLEMİ YAPMAYA YETKİNİZ BULUNMAMAKTADIR. 
            </h2>

            <p> ANA SAYFAYA DÖNMEK İÇİN<a href="/">TIKAYINIZ.</a> </p>

        </div> 
    </div>
</div>